.named-color{
    background-color: rgba(219, 65, 188, 0.673);
    color: white;
}

.hex-color{
    background-color: #add8e6;
    color: #000000;
}

.rgb-color{
    background-color: rgb(023, 50, 100);
    color: white;
}

.hsl-color{
    background-image: ;
    background-color: hsl(95, 50%, 75%);
    color: hsl(240, 100%, 35%);
}

.Linear{
    background: linear-gradient(to left, red, yellow );
    text-align: center;
}
.radial{
    height: 100px;
text-align: center;
line-height: 100px;
background: radial-gradient(circle , blue, green );
}
/* body {
    background: linear-gradient(rgba(209, 103, 103, 0.5), rgba(73, 36, 240, 0.5)),
                url('./img1.jpeg') no-repeat center center / cover;
} */



/* body {
    background: linear-gradient(to right, red, yellow);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  } */

